name: super-linter
on: push 

jobs: 
  super-lint:
    name: linter
    runs-on: ubuntu-latest
    steps:
      -  name: checkout
         uses: actions/checkout@v2

      -  name: run super-linter
         uses: github/super-linter@v4
         env:
           DEFAULT_BRANCH: main
           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    
